@charset "UTF-8";
html,body,img,p,div,span{margin:0;padding:0}
html{width:100%;height:100%;position:relative;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin:0 auto}
body{color:#333;font:16px "Helvetica Neue", Helvetica, STHeiTi, sans-serif;margin:0 auto;width:100%;height:100%;position:relative;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-overflow-scrolling:touch}
html,body{height:100%}
ul, ol,li{list-style:none;margin:0;padding:0}
img{border:none}
a{text-decoration:none}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
/*.clearfix{*+height:1%}*/
@font-face {
  font-family: 'momo_xinjian';
  src: url("../fonts2/momo_xinjian.eot");
  src: url("../fonts2/momo_xinjian.eot?#iefix") format('embedded-opentype'), url("../fonts2/momo_xinjian.woff") format('woff'), url("../fonts2/momo_xinjian.ttf") format('truetype'), url("../fonts2/momo_xinjian.svg#happyzcool") format('svg');
  font-weight: normal;
  font-style: normal;
}

/**加载提示css**/
.loading{position:absolute;width:100%;height:100%;z-index:888;top:0;left:0;bottom:0;color:#ccc;text-align:center;overflow:hidden;background-color:#eee;z-index:5}
.loaded{display:none}
.spinner{margin:160px auto 0;width:150px;text-align:center}
.spinner>div{width:20px;height:20px;background-color:#ccc;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out}
.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}
.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}
.load-progress{display:inline-block;margin-left:.2em}
.copyright{position:absolute;left:37%;bottom:3%;width:26%}
@-moz-keyframes bouncedelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes bouncedelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
@-o-keyframes bouncedelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes bouncedelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
.copyright{margin-top:60%}
.hide{display:none;}
.msg{position: absolute;z-index: 1000;left:0;top:0;}
.msg img{width:640px;}


.swiper-container{width:100%;height:100%;background:url(../img/bg.jpg) no-repeat center center/100% 100%}
.slide03{width:100%;height:100%;background:url(../img/bg.jpg) no-repeat center center/100% 100%}
.swiper-slide img{display:block;width:100%;visibility:hidden}
.swiper-slide.swiper-slide-active img{visibility:visible;}

.slide03 p{position:relative;z-index:3}
.slide03 .photo-layer{position:absolute;top:0;left:0;width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center;background-color:#fff;z-index:1;display:none}
.slide03 .operate-layer{position:absolute;top:0;left:0;width:100%;height:100%;z-index:5;display:none}
.slide03 .img01{position:absolute;top:0;left:0;width:100%;z-index:2}
.slide03 .img02{width:40%;margin:8% auto}
.slide03 .img03{width:40%;margin:5% auto;z-index:6}
.slide03 .img04{width:30%;margin:0 auto}
.slide03 .img-mod{width:75%;margin:0 auto;position:relative;z-index:3}
.img-mod .fr{width:56%;position:absolute;bottom:0;right:0}
.img-mod .img{margin-right:58%;position:relative;overflow:hidden}
.slide03 .img-view{position:absolute;width:32%;top:25%;left:12%;background:#fff;display:none}


/*上传按钮*/
.slide03 .upload-btn{position:absolute;width:32%;top:25.5%;left:12%;z-index:4}
.slide03 .upload-btn input.up-load{display:block;position:absolute;width:100%;height:100%;top:0;left:0;opacity:0}

/*预览*/
.slide03 .upload-img{position:absolute;width:32%;top:25%;left:12%;z-index:4;display:none}


.txt-mod{width:74%;margin:5% auto 0;position:relative;z-index:6}
.txt-mod textarea{font:45px/50px momo_xinjian;background:url(../img/textarea-bg.png) repeat-y 0 0/100% 50px;display:block;width:100%;height:150px;border:none;outline:0;-webkit-appearance:none;outline:0;color:#794821}
.txt-mod textarea::-webkit-input-placeholder{color:#794821}

/*弹框一：黑色白字*/
.dialogue-tips{background:rgba(0,0,0,.6);width:50%;position:fixed;left:20%;top:40%;margin-top:-25px;z-index:999;border-radius:20px;color:#fff;text-align:center;padding:5%;line-height:1.5;font-size:32px}
